body{
    padding-top: 50px;
}
footer{
    position: absolute;
    width: 100%;
    background-image: url("../img/wooden-footer.png");
}

nav{
    vertical-align: text-bottom;
    position: absolute;
}
.navbar-nav>lo>a{
    line-height: 20px;
    color: #000;
    border: .5em solid transparent;
    margin: auto;
    font-size: 1.5em;
    text-decoration: none;
}


.navbar-nav>lo>a:hover{
    text-decoration: wavy;
}
.navbar-nav>lo>a>pr{
    text-shadow: 2px 0 0 #fff,
                -2px 0 0 #fff,
                 0 2px 0 #fff,
                0 -2px 0 #fff,
                 1px 1px #fff,
             -1px -1px 0 #fff,
              1px -1px 0 #fff,
              -1px 1px 0 #fff;
}

.swingimageT{
    -webkit-animation: swingingT 3.5s ease-out forwards;
    animation: swingingT 3.5s ease-out forwards;
}
.swingimage2T{
    -webkit-animation: swinging2T 3.5s ease-out forwards;
    animation: swinging2T 3.5s ease-out forwards;
}
.swingimage2sT{
    -webkit-animation: swinging2sT 3.5s ease-out forwards;
    animation: swinging2sT 3.5s ease-out forwards;
}
.swingimage3T{
    -webkit-animation: swinging3T 3.5s ease-out forwards;
    animation: swinging3T 3.5s ease-out forwards;
}

@-webkit-keyframes swingingT {
    from {left: -60%;}
    to {left: -10%;}
}

@keyframes swingingT {
    from {left: -60%;}
    to {left: -10%;}
}
@-webkit-keyframes swinging2T {
    from { left: -60%;}
    to {left: 35%;}
}

@keyframes swinging2T {
    from {left: -60%;}
    to {left: 35%;}
}
@-webkit-keyframes swinging2sT {
    from { left: -60%;}
    to {left: 15%;}
}

@keyframes swinging2sT {
    from {left: -60%;}
    to {left: 15%;}
}
@-webkit-keyframes swinging3T {
    from { right: -60%;}
    to {right: 0%;}
}

@keyframes swinging3T {
    from {right: -60%;}
    to {right: 0%;}
}
.navbar-toggle{
    background-color: #dc2b19;
}

.navbar-test{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;;
    height: auto;
    background-color: #dc2b19;
}

.navbar-nav>li>a{
    color: #FFF;
}
.navbar-nav>li>a:hover{
    background-color: #ba2b19;
}
.navbar-nav>li>a:focus{
    background-color: #ba2b19;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#menu.tope {
    position: fixed;
    top: 0;
    right:0;
    left:0;
}
.glyphicon{
    height:20px;
    float: left;
}
@media screen and (max-width: 375px) {
    body {
        overflow-x: hidden!important;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden!important;
    }
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}
.wrapper{
    overflow-x: hidden; !important;
}
.thumbnail{
    border-color: transparent;
}
.title{
    text-shadow: 2px 0 0 #000,
    -2px 0 0 #000,
    0 2px 0 #000,
    0 -2px 0 #000,
    1px 1px #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
    font-size: 36px;
}

@media screen and (max-width: 992px) {
    .title{
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .title{
        font-size: 25px;
    }
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#intro {
    position: relative;
    padding: 0 20px;
    width: 100%;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/Preloader_10.gif) center no-repeat #fff;
}

.no-padding{
    padding: 0;
}
.form-wrapper{
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 2em 0;
}
.form-wrapper:after{
    content: '';
    display: block;
    position: absolute;
    width: 200%;
    height: 75%;
    left: -7%;
    bottom: 0;
    z-index: 1;
    transform:rotate(-30deg);
}
@media(max-width: 767px){
    .form-wrapper:after{
        height: 40%;
        left: -7%;
    }
}
@media(max-width: 540px){
    .form-wrapper:after{
        height: 25%;
    }
}
@media(max-width: 340px){
    .form-wrapper:after{
        height: 20%;
    }
}
.form-wrapper .my-form{
    width: 90%;
    overflow: auto;
    margin: 0 auto;
    background: #449caf;
    position: relative;
    z-index: 9;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.my-form .info{
    padding: 15px;
    height: 100%;
}
.my-form .info .carousel-caption{
    margin: 0;
    padding: 0;
    bottom: 50px;
    right: 0;
    left: 0;
}
.my-form .carousel-indicators .active{
    background: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5)
}
.my-form .item{
    padding: 60px 0;
    min-height: 300px;
}
.my-form .form-bg{
    background: #fff;
}
.main-form .nav > li{
    width: 50%;
}
.main-form .nav-tabs > li > a{
    border-radius: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    outline: 0;
    text-transform: uppercase;
    color: #f17e00;
    font-weight: 600;
    font-size: 13px;
}
.main-form .nav-tabs > li > a:hover{
    color: #f17e00;
}
.main-form .form-control{
    margin-top: 15px;
    height: 50px;
    border-radius: 0;
    box-shadow: none;
    border:1px solid #f0f0f0;
}
.main-form .form-control:focus{
    border-color: #f17e00;
}
.main-form .checkbox{
    margin-left: 20px;
    color: #999;
}
.main-form .checkbox a{
    color: #f17e00;
}
.main-form .btn-submit{
    display: block;
    background: #dc2b19;
    color: #fff;
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
    margin-top: 15px;
    padding: 12px;
}
.main-form .tab-content{
    padding: 30px 0;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.img-center {
    margin: 0 auto;
}
a:hover{
    text-decoration: none;
}

.service-box p {
    margin-bottom: 0;
}
.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: rgba(240, 95, 64, 0.9);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}
.portfolio-box:focus {
    outline: none;
}
@media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}
.call-to-action h2 {
    margin: 0 auto 20px;
}
.text-primary {
    color: #F05F40;
}
.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-right: 15px;
}

.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}




#mainwrapper {
    font: 10pt normal Arial, sans-serif;
    height: auto;
    text-align: center;
    width: 100%;
}

/* Image Box Style */
#mainwrapper .box {
    border: 5px solid #fff;
    cursor: pointer;
    height: 182px;
    float: left;
    position: relative;
    overflow: hidden;
    width: 100%;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}
#mainwrapper .box img {
    position: absolute;
    left: 0;
    width: 100%;

    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

/* Caption Common Style */
#mainwrapper .box .caption {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: #fff;
    z-index: 1;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
}


/** Caption 1: Simple **/
#mainwrapper .box .simple-caption {
    height: 30px;
    width: 200px;
    display: block;
    bottom: -30px;
    line-height: 25pt;
    text-align: center;
}

/** Caption 2: Full Width & Height **/
#mainwrapper .box .full-caption {
    width: 250px;
    height: 170px;
    top: -200px;
    text-align: left;
    padding: 15px;
}

/** Caption 3: Fade **/
#mainwrapper .box .fade-caption, #mainwrapper .box .scale-caption  {
    opacity: 0;
    width: 250px;
    height: 175px;
    text-align: left;
    padding: 15px;
}

/** Caption 4: Slide **/
#mainwrapper .box .slide-caption {
    width: 250px;
    height: 170px;
    text-align: left;
    padding: 15px;
    left: 200px;
}

/** Caption 5: Rotate **/
#mainwrapper #box-5.box .rotate-caption {
    width: 250px;
    height: 170px;
    text-align: left;
    padding: 15px;
    top: 200px;
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#mainwrapper .box .rotate {
    width: 200px;
    height: 400px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

/** Caption 6: Scale **/
#mainwrapper .box .scale-caption h3, #mainwrapper .box .scale-caption p {
    position: relative;
    left: -200px;
    width: 220px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

#mainwrapper .box .scale-caption h3 {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    transition-delay: 300ms;
}

#mainwrapper .box .scale-caption p {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    transition-delay: 500ms;
}

/** Simple Caption :hover Behaviour **/
#mainwrapper .box:hover .simple-caption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 1;
    transform: translateY(-100%);
}

#mainwrapper .box:active .simple-caption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 1;
    transform: translateY(-100%);
}

/** Full Caption :hover Behaviour **/
#mainwrapper .box:hover .full-caption {
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    opacity: 1;
    transform: translateY(100%);
}

/** Fade Caption :hover Behaviour **/
#mainwrapper .box:hover .fade-caption, #mainwrapper .box:hover .scale-caption  {
    opacity: 1;
}


/** Scale Caption :hover Behaviour **/
#mainwrapper .box:hover #image-6 {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

#mainwrapper .box:hover .scale-caption h3, #mainwrapper .box:hover .scale-caption p {
    -moz-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
}




/** Full Caption :hover Behaviour **/
#mainwrapper .box:active .full-caption {
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    opacity: 1;
    transform: translateY(100%);
}

/** Fade Caption :hover Behaviour **/
#mainwrapper .box:active .fade-caption, #mainwrapper .box:active .scale-caption  {
    opacity: 1;
}


/** Scale Caption :hover Behaviour **/
#mainwrapper .box:active #image-6 {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

#mainwrapper .box:active .scale-caption h3, #mainwrapper .box:active .scale-caption p {
    -moz-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
}

.fa-wifi{
    -webkit-transition: 1s 3s time;
    -moz-transition: 1s 3s time;
    -ms-transition: 1s 3s time;
    -o-transition: 1s 3s time;
    transition: 1s 3s time;;
}

.fa-wifi:hover {
    color: #5482a8;
}

.fa-music:hover {
    color: #33a857;
}

.fa-credit-card-alt:hover {
    color: #f17e00;
}

.fa-universal-access:hover {
    color: #a8964e;
}

.maint{
    background: url("../img/crd.png") no-repeat left bottom fixed;
    background-size: cover;
}
.mainy{
    background: url("../img/crus.png") no-repeat left bottom fixed;
    background-size: cover;
}
.gult{
    background: url("../img/curtt.jpg") no-repeat left bottom;
    background-size: cover;
}
.animate-bg{
    background: url("../img/ocwat.gif") no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    width:100%;
    height:auto;
    top:0;
    left:0;
}
video#bgvid {
     position: absolute;
     top: 50%;
     left: 50%;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -100;
     -ms-transform: translateX(-50%) translateY(-47%);
     -moz-transform: translateX(-50%) translateY(-47%);
     -webkit-transform: translateX(-50%) translateY(-47%);
     transform: translateX(-50%) translateY(-47%);
     background-size: cover;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
 }
.navbar-default {
    background-color: #eb3812;
    border-color: rgba(34, 34, 34, 0.05);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
    color: #f0eee9;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}
.navbar-default .navbar-header .navbar-toggle {
    font-size: 14px;
    color: white;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    font-size: 14px;
    color: white;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
    color: #F05F40;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
    color: #F05F40 !important;
    background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
    background-color: transparent;
}
@media (min-width: 1000px) {
    .navbar-default {
        background: #ffffff; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left,rgba(255,0,0,0),#eb3812); /*Safari 5.1-6*/
        background: -o-linear-gradient(right,rgba(255,0,0,0), #eb3812); /*Opera 11.1-12*/
        background: -moz-linear-gradient(right,rgba(255,0,0,0), #eb3812); /*Fx 3.6-15*/
        background: linear-gradient(to right, rgba(255,0,0,0) 80%, #eb3812 90%); /*Standard*/
        border-color: rgba(255, 255, 255, 0.3);
    }
    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: white;
    }
    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
        color: rgba(255, 255, 255, 0.7);
    }
    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
        color: white;
    }
    .navbar-default.affix {
        background-color: #eb3812;;
        border-color: rgba(34, 34, 34, 0.05);
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        color: #f8f9f0;
        font-size: 16px;
    }
    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: white;
    }
    .navbar-default.affix .nav > li > a,
    .navbar-default.affix .nav > li > a:focus {
        color: white;
    }
    .navbar-default.affix .nav > li > a:hover,
    .navbar-default.affix .nav > li > a:focus:hover {
        background-color: #ba2b19;
    }
}

header {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    text-align: center;
    color: white;

}
header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
}
header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}
header .header-content .header-content-inner hr {
    margin: 30px auto;
}
header .header-content .header-content-inner p {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    margin-bottom: 50px;
}
@media (min-width: 768px) {
    header {
        min-height: 100%;
    }
    header .header-content {
        position: absolute;
        top: 45%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0;
        webkit-box-sizing: content-box !important;
        -moz-box-sizing: content-box !important;
        box-sizing: content-box !important;
    }
    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    header .header-content .header-content-inner h1 {
        font-size: 50px;
    }
    header .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
.swingimagesun{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: -600% -600%;
    -webkit-animation: swingingsun 20.5s ease-in-out forwards infinite;
    animation: swingingsun 20.5s ease-in-out forwards infinite;
}

@keyframes swingingsun{
    0%{transform: translateY(-120px) translateX(-80px)}
    50%{transform: translateY(-100px) translateX(-40px)}
    100%{transform: translateY(-120px) translateX(-80px)}
}
.btn-primary {
    color: white;
    background-color: #F05F40;
    border-color: #F05F40;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: white;
    background-color: #ee4b28;
    border-color: #ed431f;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #F05F40;
    border-color: #F05F40;
}
.btn-primary .badge {
    color: #F05F40;
    background-color: white;
}
.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-xl {
    padding: 15px 30px;
}
.fadein{
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    -webkit-animation: fadein 4.5s ease-out ;
    animation: fadein 4.5s ease-out;
}

@-webkit-keyframes fadein {
    from { opacity:0;}
    to {opacity: 1;}
}

#flag {
    width: auto;
    height: auto;
    background-size: 100% 100%;
    background-image: linear-gradient(bottom,
    rgba(77,20,140,1) 0%,
    rgba(77,20,140,1) 18%,
    rgba(27,119,205,1) 18%,
    rgba(27,119,205,1) 33%,
    rgba(54,160,48,1) 33%,
    rgba(54,160,48,1) 50%,
    rgba(255,210,0,1) 50%,
    rgba(255,210,0,1) 66%,
    rgba(255,160,0,1) 66%,
    rgba(255,160,0,1) 83%,
    rgba(207,15,15,1) 83%,
    rgba(207,15,15,1) 100%);
    background-image: -o-linear-gradient(bottom,
    rgba(77,20,140,1) 0%,
    rgba(77,20,140,1) 18%,
    rgba(27,119,205,1) 18%,
    rgba(27,119,205,1) 33%,
    rgba(54,160,48,1) 33%,
    rgba(54,160,48,1) 50%,
    rgba(255,210,0,1) 50%,
    rgba(255,210,0,1) 66%,
    rgba(255,160,0,1) 66%,
    rgba(255,160,0,1) 83%,
    rgba(207,15,15,1) 83%,
    rgba(207,15,15,1) 100%);
    background-image: -moz-linear-gradient(bottom,
    rgba(77,20,140,1) 0%,
    rgba(77,20,140,1) 18%,
    rgba(27,119,205,1) 18%,
    rgba(27,119,205,1) 33%,
    rgba(54,160,48,1) 33%,
    rgba(54,160,48,1) 50%,
    rgba(255,210,0,1) 50%,
    rgba(255,210,0,1) 66%,
    rgba(255,160,0,1) 66%,
    rgba(255,160,0,1) 83%,
    rgba(207,15,15,1) 83%,
    rgba(207,15,15,1) 100%);
    background-image: -webkit-linear-gradient(bottom,
    rgba(77,20,140,1) 0%,
    rgba(77,20,140,1) 18%,
    rgba(27,119,205,1) 18%,
    rgba(27,119,205,1) 33%,
    rgba(54,160,48,1) 33%,
    rgba(54,160,48,1) 50%,
    rgba(255,210,0,1) 50%,
    rgba(255,210,0,1) 66%,
    rgba(255,160,0,1) 66%,
    rgba(255,160,0,1) 83%,
    rgba(207,15,15,1) 83%,
    rgba(207,15,15,1) 100%);
    background-image: -ms-linear-gradient(bottom,
    rgba(77,20,140,1) 0%,
    rgba(77,20,140,1) 18%,
    rgba(27,119,205,1) 18%,
    rgba(27,119,205,1) 33%,
    rgba(54,160,48,1) 33%,
    rgba(54,160,48,1) 50%,
    rgba(255,210,0,1) 50%,
    rgba(255,210,0,1) 66%,
    rgba(255,160,0,1) 66%,
    rgba(255,160,0,1) 83%,
    rgba(207,15,15,1) 83%,
    rgba(207,15,15,1) 100%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.00,rgba(77,20,140,1)),
            color-stop(0.18,rgba(77,20,140,1)),
            color-stop(0.18,rgba(27,119,205,1)),
            color-stop(0.33,rgba(27,119,205,1)),
            color-stop(0.33,rgba(54,160,48,1)),
            color-stop(0.50,rgba(54,160,48,1)),
            color-stop(0.50,rgba(255,210,0,1)),
            color-stop(0.66,rgba(255,210,0,1)),
            color-stop(0.66,rgba(255,160,0,1)),
            color-stop(0.83,rgba(255,160,0,1)),
            color-stop(0.83,rgba(207,15,15,1)),
            color-stop(1.00,rgba(207,15,15,1))
    );
}


@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}

@keyframes swingingu{
    0%{transform: translateX(50px);}
    50%{transform: translateX(0px)}
    100%{transform: translateX(50px);}
}

@keyframes swingingbu{
    0%{transform: translateY(7em);}
    50%{transform: translateY(0px)}
    100%{transform: translateY(7em);}
}

@keyframes swinging{
    0%{transform: translateY(7em);}
    50%{transform: translateY(0px)}
    100%{transform: translateY(7em);}
}

@keyframes swingingb{
    0%{transform: translateX(200px);}
    50%{transform: translateX(0px)}
    100%{transform: translateX(200px);}
}


@keyframes swinging2{
    0%{transform: translateX(150px);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(150px);}
}

@keyframes swinging2b{
    0%{transform: translateX(200px);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(200px);}
}

@keyframes swinging3{
    0%{transform: translateX(400px);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(400px);}
}

@keyframes swinging3b{
    0%{transform: translateX(400px);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(400px);}
}

@keyframes swinging4{
    0%{transform: translateX(500px);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(500px);}
}
@keyframes swinging4b{
    0%{transform: translateX(500px);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(500px);}
}

@keyframes swingingN{
    0%{transform: rotate(3deg);}
    50%{transform: rotate(-3deg)}
    100%{transform: rotate(3deg);}
}

@keyframes swingingsun{
    0%{transform: translateY(-120px) translateX(-80px)}
    50%{transform: translateY(-100px) translateX(-40px)}
    100%{transform: translateY(-120px) translateX(-80px)}
}

@keyframes swingingnub{
    0%{transform: translateX(400px);}
    25%{transform: translateX(-700px);}
    100%{transform: translateX(-2500px);}
}


.swingimage{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging 8.5s ease-in-out forwards infinite;
    animation: swinging 8.5s ease-in-out forwards infinite;
}

.swingimageb{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swingingb 18.5s ease-in-out forwards infinite;
    animation: swingingb 18.5s ease-in-out forwards infinite;
}

.swingimageu{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swingingu 8.5s ease-in-out forwards infinite;
    animation: swingingu 8.5s ease-in-out forwards infinite;
}

.swingimagebu{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swingingbu 18.5s ease-in-out forwards infinite;
    animation: swingingbu 18.5s ease-in-out forwards infinite;
}
.swingimage2{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging2 9.5s ease-in-out forwards infinite;
    animation: swinging2 9.5s ease-in-out forwards infinite;
}

.swingimage2b{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging2b 20.5s ease-in-out forwards infinite;
    animation: swinging2b 20.5s ease-in-out forwards infinite;
}

.swingimage3{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging3 10.5s ease-in-out forwards infinite;
    animation: swinging3 10.5s ease-in-out forwards infinite;
}

.swingimage3b{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging3b 22.5s ease-in-out forwards infinite;
    animation: swinging3b 22.5s ease-in-out forwards infinite;
}

.swingimage4{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging4 14.5s ease-in-out forwards infinite;
    animation: swinging4 14.5s ease-in-out forwards infinite;
}
.swingimage4b{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging4b 32.5s ease-in-out forwards infinite;
    animation: swinging4b 32.5s ease-in-out forwards infinite;
}

/*****************************************************************/

@keyframes swingingbu-movil{
    0%{transform: rotate(1deg);}
    50%{transform: translateX(0px)}
    100%{transform: rotate(1deg);}
}

@keyframes swinging-movil{
    0%{transform: rotate(1deg);}
    50%{transform: translateX(0px)}
    100%{transform: rotate(1deg);}
}

@keyframes swingingb-movil{
    0%{transform: translateX(4em);}
    50%{transform: translateX(0px)}
    100%{transform: translateX(4em);}
}


@keyframes swinging2-movil{
    0%{transform: translateX(4em);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(4em);}
}

@keyframes swinging2b-movil{
    0%{transform: translateX(4em);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(4em);}
}

@keyframes swinging3-movil{
    0%{transform: translateX(4em);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(4em);}
}

@keyframes swinging3b-movil{
    0%{transform: translateX(4em);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(4em);}
}

@keyframes swinging4-movil{
    0%{transform: translateX(4em);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(4em);}
}
@keyframes swinging4b-movil{
    0%{transform: translateX(4em);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(4em);}
}



.swingimage-movil{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging-movil 8.5s ease-in-out forwards infinite;
    animation: swinging-movil 8.5s ease-in-out forwards infinite;
}

.swingimageb-movil{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swingingb-movil 18.5s ease-in-out forwards infinite;
    animation: swingingb-movil 18.5s ease-in-out forwards infinite;
}

.swingimageu-movil{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swingingu-movil 8.5s ease-in-out forwards infinite;
    animation: swingingu-movil 8.5s ease-in-out forwards infinite;
}

.swingimagebu-movil{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swingingbu-movil 18.5s ease-in-out forwards infinite;
    animation: swingingbu-movil 18.5s ease-in-out forwards infinite;
}
.swingimage2-movil{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging2-movil 9.5s ease-in-out forwards infinite;
    animation: swinging2-movil 9.5s ease-in-out forwards infinite;
}

.swingimage2b-movil{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging2b-movil 20.5s ease-in-out forwards infinite;
    animation: swinging2b-movil 20.5s ease-in-out forwards infinite;
}

.swingimage3-movil{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging3-movil 10.5s ease-in-out forwards infinite;
    animation: swinging3-movil 10.5s ease-in-out forwards infinite;
}

.swingimage3b-movil{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging3b-movil 22.5s ease-in-out forwards infinite;
    animation: swinging3b-movil 22.5s ease-in-out forwards infinite;
}

.swingimage4-movil{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging4-movil 14.5s ease-in-out forwards infinite;
    animation: swinging4-movil 14.5s ease-in-out forwards infinite;
}
.swingimage4b-movil{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging4b-movil 32.5s ease-in-out forwards infinite;
    animation: swinging4b-movil 32.5s ease-in-out forwards infinite;
}

/*****************************************************************/

@keyframes swingingbu-p{
    0%{transform: rotate(1deg);}
    50%{transform: translateX(0px)}
    100%{transform: rotate(1deg);}
}

@keyframes swinging-p{
    0%{transform: rotate(1deg);}
    50%{transform: translateX(0px)}
    100%{transform: rotate(1deg);}
}

@keyframes swingingb-p{
    0%{transform: translateX(10em);}
    50%{transform: translateX(0px)}
    100%{transform: translateX(10em);}
}


@keyframes swinging2-p{
    0%{transform: translateX(10em);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(10em);}
}

@keyframes swinging2b-p{
    0%{transform: translateX(10em);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(10em);}
}

@keyframes swinging3-p{
    0%{transform: translateX(10em);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(10em);}
}

@keyframes swinging3b-p{
    0%{transform: translateX(10em);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(10em);}
}

@keyframes swinging4-p{
    0%{transform: translateX(10em);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(10em);}
}
@keyframes swinging4b-p{
    0%{transform: translateX(10em);}
    50%{transform: translateX(-5px)}
    100%{transform: translateX(10em);}
}



.swingimage-p{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging-p 8.5s ease-in-out forwards infinite;
    animation: swinging-p 8.5s ease-in-out forwards infinite;
}

.swingimageb-p{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swingingb-p 18.5s ease-in-out forwards infinite;
    animation: swingingb-p 18.5s ease-in-out forwards infinite;
}

.swingimageu-p{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swingingu-p 8.5s ease-in-out forwards infinite;
    animation: swingingu-p 8.5s ease-in-out forwards infinite;
}

.swingimagebu-p{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swingingbu-p 18.5s ease-in-out forwards infinite;
    animation: swingingbu-p 18.5s ease-in-out forwards infinite;
}
.swingimage2-p{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging2-p 9.5s ease-in-out forwards infinite;
    animation: swinging2-p 9.5s ease-in-out forwards infinite;
}

.swingimage2b-p{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging2b-p 20.5s ease-in-out forwards infinite;
    animation: swinging2b-p 20.5s ease-in-out forwards infinite;
}

.swingimage3-p{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging3-p 10.5s ease-in-out forwards infinite;
    animation: swinging3-p 10.5s ease-in-out forwards infinite;
}

.swingimage3b-p{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging3b-p 22.5s ease-in-out forwards infinite;
    animation: swinging3b-p 22.5s ease-in-out forwards infinite;
}

.swingimage4-p{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging4-p 14.5s ease-in-out forwards infinite;
    animation: swinging4-p 14.5s ease-in-out forwards infinite;
}
.swingimage4b-p{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swinging4b-p 32.5s ease-in-out forwards infinite;
    animation: swinging4b-p 32.5s ease-in-out forwards infinite;
}

/*****************************************************************/


.swingimagesun{
    overflow-x: hidden; !important;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 300% 300%;
    -webkit-animation: swingingsun 20.5s ease-in-out forwards infinite;
    animation: swingingsun 20.5s ease-in-out forwards infinite;
}

.swingimagenub{
    position: absolute;
    left: 50px;
    -webkit-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
    -webkit-animation: swingingnub 200.5s ease-in-out forwards infinite;
    animation: swingingnub 200.5s ease-in-out forwards infinite;
}

.swingimageshift{
    position: relative;
    left: 50px;
    margin-top: 30px;
    -webkit-transform-origin: 35% 0;
    transform-origin: 35% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}